body {
    background-color:#474647;
}
main {
    display: flex;
    justify-content: center;
}
h4, .egal {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
input, textarea {
    background-color: #2B4141;
    border: 3px ridge orange;
    border-radius: 3%;
}
h4 {
    width: 200px;
    color: black;
    background-image: linear-gradient(#F06543, #EEB902, #F06543)
}
legend {
    font-size:30px;
    position:relative;
    width:600px;
    height:1300px;
    color:whitesmoke;
    text-align: center;
    background-color: black;
    border: 5px ridge orange;
}
form {
    width: 400px;
    margin-top: 20px;
    margin-left: 80px;
    display:grid;
    grid-template-columns: auto auto auto;
}
input {
    font-size: 30px;
    width: 150px;
    height: 100px;
    color:whitesmoke;
    border-radius: 5%;
}
.egal {
    left: 225px;
}
input:hover {
    background-color: darkmagenta;
}
textarea {
    margin-top: 20px;
    width: 550px;
    color:whitesmoke;
    margin-left: 5%;
    height: 60px;
    font-size: 50px;
    letter-spacing: 10px;
    overflow: auto;
    margin-left: auto;
}
.history {
    height:200px;
    border-top:none;
    margin-left:-3px;   
    font-size: 19px;
}
p {
    font-size:30px;
    color:white;
    letter-spacing: 5px;
}

